<article class="view questions new">
  <form action="/questions" method="POST">
    <input type="text" name="q_title" placeholder="question">
    <input type="submit" value="submit question">
  </form>
</article>