<header class="landing">
<h1 class="title">Team Ridiculousness</h1>
<!-- <h3 class="title2">Introducing Davis Questions!</h3> -->
  <div class="davis"></div>
  <div class="davis2"></div>
<!--   <audio autoplay>
      <source src="../images/Supbrah.mp3" type="audio/mp3">
    </audio> -->
  <nav>
    <%if session[:user_id] !=nil%>
      <form action="/logout" method="POST" id="logoutForm">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="LogOut">
      <form>
    <%else%>
      <a href="/questions">Home</a>
      <a href="/login/new">Login</a>
      <a href="/users/new">Sign Up</a>
    <%end%>
  </nav>
</header>
