<<<<<<< HEAD
<article class="view login show">
=======
<article class="view users new">
>>>>>>> 96601da980b76f72f696caa45d90303baa5ebc98
  <h1>User Show</h1>
  <h2>Hello <%= @user.name %></h2>
</article>

