<!-- <<<<<<< HEAD -->
<article class="view login show">
<!-- =======
<article class="view users new"> -->
 <audio autoplay>
      <source src="../images/Supbrah.mp3" type="audio/mp3">
    </audio>



  <h1>User Show</h1>
  <h2>Hello <%= @user.name %></h2>
</article>

