<article class="votes _vote_question">
  <form id="question-button-form" action="/questions/<%=@question.id%>/vote" method="post">
  	<input id="vote-button-question" type="submit" value="<%=@question.votes.count%>">
  </form>
</article>